@import "tailwindcss";

@theme {
  --color-primary: #ffffff;
  --color-secondary: #0f0f0f;
}

@utility bg-accent {
  background-image: linear-gradient(135deg, #E30B6F 0%, #8a00c4 100%);
}

/* Glow Effect */
@utility accent-glow {
  box-shadow: 0 0 15px rgba(255, 0, 127, 0.4), 0 0 30px rgba(188, 19, 254, 0.2);
}

/*transparent scroll track class called hide-scroll-track*/
.hide-scroll-track::-webkit-scrollbar {
    width: 8px;    /*width of the entire scrollbar*/
}

.hide-scroll-track::-webkit-scrollbar-track {
  background: transparent;     /*color of the tracking area*/
}

.hide-scroll-track::-webkit-scrollbar-thumb {
  background-color: #8b8b8b;    /*color of the scroll thumb*/
  border-radius: 20px;   /*roundness of the scroll thumb*/
  border: 3px solid-transparent;    /*creates padding around scroll thumb*/
}
